/* 
RESET 
*/
button, input {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}



/* 
Variables
*/
@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf);
    font-display: swap;
}

:root {
    --btn-bg-clr: #596D48;
    --btn-bg-clr-hover: #404e34;
    --input-border-clr: #E5E7EB;
    --input-border-clr-focus: rgb(13, 128, 243);
    --input-border-clr-error: rgb(255, 32, 32);
    --text-clr: black;
    --input-shadow:
    0px 1px 1.5px hsl(var(--shadow-color) / 0),
    0px 1.6px 2.4px hsl(var(--shadow-color) / 0.11),
    0px 3px 4.5px hsl(var(--shadow-color) / 0.22);
    --shadow-color: 286deg 36% 72%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}



/* 
Main Styles
*/
.top {
    background-image: url(/images/logo-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 12.5rem;

    .top__logo {
        gap: .5rem;
        background-color: rgba(0, 0, 0, 0.509);
        padding: .75rem 0;
        width: 100%;
    }

    .logo__image {
        width: 65px;
        height: auto;
    }

    .logo__text {
        color: white;
        font-family: 'Norse Bold', sans-serif;
        font-size: 5rem;
        margin-top: 1.2rem;
    }
}

.bottom {
    padding: 1.5rem 1rem;
    gap: 2rem;

    .text__content, .bottom__form p {
        font-weight: 500;
        font-size: clamp(100%, 1rem + 2vw, 24px);
    }

    .text__content:first-child {
        margin-bottom: 1rem;
    }

    .bottom__form p {
        margin-bottom: 1rem;
    }

    form {
        gap: 2rem;

        .form__element {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: .25rem;

            label {
                font-size: .875rem;
                letter-spacing: .5px;
                opacity: .5;
            }

            input {
                border: 1px solid var(--input-border-clr);
                border-radius: 5px;
                min-height: 35px;
                padding: 0 .5rem;
                box-shadow: var(--input-shadow);
            }

            input:focus {
                border-color: var(--input-border-clr-focus);
            }

            input:invalid {
                border-color: var(--input-border-clr-error);
            }
        }
    }

    .bottom__action {
        button {
            font-weight: 700;
            width: 100%;
            background-color: var(--btn-bg-clr);
            color: white;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 1rem;
            padding: .8rem 0;
            box-shadow: var(--input-shadow);
        }

        button:hover {
            background-color: var(--btn-bg-clr-hover);
            transition: .3s;
        }

        a {
            color: var(--btn-bg-clr);
            font-weight: 700;
            text-decoration: none;
        }

        a:hover {
            color: var(--btn-bg-clr-hover);
            transition: .3s;
        }
    }
}



/* 
Media Queries
*/
@media (min-width: 50rem) {
    form {
        flex-direction: row !important;
        flex-wrap: wrap;

        .form__element {
            width: 50% !important;
            flex: 1;
            flex-basis: 40%;
        }
    }
}

@media (min-width: 68.75rem) {
    main {
        flex-direction: row !important;
        min-height: 100vh;
        align-items: center;
    }

    .top {
        background-size: cover;
        min-height: 100vh;
        width: 535px;

        .top__logo {
            position: relative;
            top: -195px;
        }
    
        .logo__image {
            width: 95px;
        }
    
        .logo__text {
            font-size: 6rem;
            margin-top: 2rem;
        }
    }

    .bottom {
        width: 60%;
        padding: 0 3rem;

        .text__content {
            margin-top: 1rem;
        }

        .text__content:first-child {
            margin-bottom: 1.5rem;
        }

        .bottom__action {
            text-align: left;
            
            button {
                width: 30%;
                padding: .8rem 0;
                margin-bottom: 1.5rem;
            }
        }
    }
}